<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/reset.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Slabo+27px:400' rel='stylesheet' type='text/css'>
    {{ghost_head}}
</head>
<body>
    <div class='navigationContainer'></div>
    <div class='navigationContent'>
        <input type='checkbox' id='menuToggle'>
        <label for='menuToggle' class='navigationContent__mobileMenuToggle'>
            <img src='{{asset "images/menu.svg"}}' alt='Menu'>
        </label>

        <div class='navigationContent__titleBox'>
            <p class='navigationContent__title'><a href='/'>The Coact Blog</a></p>
            <p class='navigationContent__who'>Following the build of Coact - a new code hosting & project management platform for developers.</p>
        </div>

        <div class='navigationContent__mobileMenu'>
            <ul class='navigationContent__nav'>
                <li><a href='/'><img src='{{asset "images/welcome.svg"}}'> Welcome</a></li>
                <li><a href='/about'><img src='{{asset "images/about_me.svg"}}'> What's this all about?</a></li>
                <li><a href='http://twitter.com/letscoact'><img src='{{asset "images/social/twitter.png"}}'> Follow us on Twitter</a></li>
                <li><a href='/rss' target='_blank'><img src='{{asset "images/subscribe.svg"}}'> Subscribe to the blog</a></li>
            </ul>
        </div>

        <form action='http://email.atechmedia.com/t/y/s/zthdrt/' method='post'>
            <p class='navigationContent__subscribeInputContainer'><input type='email' name='cm-zthdrt-zthdrt' class='navigationContent__subscribeInput' placeholder="Subscribe by e-mail?"></p>
            <p class='navigationContent__subscribeButtonContainer'><button>Subscribe</button></p>
        </form>
    </div>

    {{{body}}}

    {{ghost_foot}}
    <script src="//cdn.viaduct.io/blogs/prism.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.viaduct.io/blogs/prism.css" />
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
